<!-- <StackLayout style="padding: 10 20;">
    <Label text="breadcrumb working"></Label>
</StackLayout>
 -->
 <StackLayout style="padding: 10 5 10 18">
    <FlexboxLayout justifyContent="flex-start" alignItems="center" flexDirection="row">
        <Image (tap)="onopen()"  src="res://arrowup" width="8%" style="margin-bottom: 3"></Image>
        
        <DropDown 
            
            id="dd"
            #dd
            backroundColor="red"
            itemsTextAlignment="center"
            [items]="items"
            [(ngModel)]="selectedIndex"
            (selectedIndexChanged)="onchange($event)"
            (opened)="onopen()"
            (closed)="onclose()"
            class="item-drop-down"
            ></DropDown>

        
        <!-- <dd:DropDown col="0"></dd:DropDown> -->
        <!-- <Button col="1"></Button> -->

    </FlexboxLayout>

                <!-- <ListPicker [items]="years" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChanged($event)"></ListPicker> -->
</StackLayout>