.notifications {
    padding: 1 6;
    font-size: 13;
    font-weight: 600;
    color: white;
    background-color: red;
    border-radius: 5;
}

.menu-border {
    border-width: 2;
    width: 12%;
    border-color: #295987;
    margin: 15 0;
    padding: 7;
    border-radius: 5;
}

FlexboxLayout Image {
    margin: 0 2;
}
FlexboxLayout{
    margin-right: 10;
}