<ActionBar style="background-color: #293a62; height: 100;">
    <titleView>
        <GridLayout columns="auto,auto,*">
            <Image column="0" src="res://icon" width="10%"></Image>
            <Image column="1" src="res://quark" width="30%" style="margin-left: 10"></Image>

            <FlexboxLayout column="2" flexDirection="row" alignItems="center" justifyContent="flex-end">
                <Label class="notifications" [text]="numberOfNotifications"></Label>
                <Image src="res://icon" width="20%"></Image>
                <Image src="res://ellipsisv" width="10%"></Image>
            </FlexboxLayout>
        </GridLayout>
    </titleView>
</ActionBar>
