GridLayout {
    margin-top: 50;
}

.welcome {
    font-size: 16;
    font-weight: 400;
}
.username {
    font-size: 20;
    font-weight: 800;
}
.my-folders {
    margin: 5 15; 
    border-bottom-width: 2;
    border-color: #ff0000;
}

.btn {
    margin: 0;
    margin: 5 15;
    font-size: 15;
}