<GridLayout rows="auto,auto,*" columns="*,*,*">

    <FlexboxLayout row="0" rowSpan="2" column="0" columnSpan="2" flexDirection="row" alignItems="center" justifyContent="space-around">

        <Image src="res://icon" width="50%"></Image>

        <Label text="Username"></Label>
       
    </FlexboxLayout>

    <!-- <Image row="0" column="0" rowSpan="2" src="res://icon" width="50%"></Image>

    <Label row="0" column="1" columnSpan="3" text="Username"></Label> -->
   
    <StackLayout row="2" column="0" columnSpan="3">
        <Button text="Home" class="btn" [nsRouterLink]="['/home']"></Button>     

        <Button text="Logout" class="btn" [nsRouterLink]="['/items']"></Button> 
    </StackLayout>
    
</GridLayout>