<GridLayout columns="*,*,*" style="height: 70; border-color: #dae1e8; border-top-width: 2; background-color: #f2f4f6" >
    
    <GridLayout rows="auto,*" column="0" style="text-align: center; padding: 5 0 0 0">
        <Image row="0" src="res://folderbtn" style="width: 20%"></Image>
        <Label textWrap="true" row="1" text="minhas&#10; pastas"></Label>
    </GridLayout>

    <GridLayout rows="auto,*" column="1" style="border-color: #dae1e8;border-right-width: 2; border-left-width: 2; text-align: center; padding: 5 0 0 0">
        <Image row="0" src="res://sharebtn" style="width: 20%"></Image>
        <Label textWrap="true" row="1" text="compartilhar&#10; esta pasta"></Label>
    </GridLayout>

    <GridLayout [nsRouterLink]="['/add']" rows="auto,*" column="2" style="text-align: center; padding: 5 0 0 0">
        <Image row="0" src="res://addbtn" style="width: 20%"></Image>
        <Label textWrap="true" row="1" text="adicionar&#10; pasta"></Label>
    </GridLayout>

</GridLayout>