<action-bar-component></action-bar-component>

<GridLayout rows="*,auto" [class.dialogOpen]="dialogOpen">
    <StackLayout row="0">  
        <search-bar-component></search-bar-component>
        <breadcrumb-component></breadcrumb-component>
        <list-component (dialogOpen)="showDialog()"></list-component>
    </StackLayout>
    <StackLayout row="1">  
        <buttons-component></buttons-component>
    </StackLayout>



    <AbsoluteLayout class="dialog-wrapper">
        <StackLayout class="dialog">
            <Label class="h3" textWrap="true" text="Are you sure you want to share your data with 42 people?"></Label>

            <Button class="btn btn-primary" text="Share"></Button>
            <Button class="btn btn-outline" text="Cancel" (tap)="closeDialog()"></Button>
        </StackLayout>
    </AbsoluteLayout>
</GridLayout>