<ActionBar title="Adicoinar nova pasta"></ActionBar>

<FlexboxLayout flexDirection="column">
    <StackLayout rows="*,*" class="m-15">
        <Label text="Title"></Label>
        
        <TextField hint="Enter text"
                [text]="title"  
                (textChange)="update($event)"
                backgroundColor="white">
        </TextField>

        <Button (tap)="saveFolder()" text="Salvar Pasta"></Button>

        <Label class="fail" *ngIf="invalidInput" text="Título nao pode estar em branco"></Label>

        <Label class="success" *ngIf="isCreated" text="Pasta Criada com sucesso"></Label>
    </StackLayout>
</FlexboxLayout>
